<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC det</title>
</head>

<style>
    body {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FAD02C;
        background-color: #333652;
    }

    table{
        text-align: center;
        border: 4px solid #FAD02C;
        width: 70rem;
    }
</style>

<body>
    <div>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>ContactNo</th>
            </tr>
            <tr>
                <td id="n">
                    <%= name_data.name%>
                </td>
                <td>
                    <%= name_data.email%>
                </td>
                <td>
                    <%= name_data.contact%>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>